Repository robjtede/monux: changes, and which lint-staged commands are due for each by the changed paths.
All: eclint fix, prettier --write --no-semi --single-quote, eslint --fix, prettier --write

remove unused imports
  .vscode/settings.json
  package-lock.json
  package.json
  src/app/app.module.ts
  src/app/components/transaction-detail.component.html
  tsconfig.json
Due: eclint fix, prettier --write --no-semi --single-quote

fix aot with autosize directive
  .lintstagedrc.json
  .prettierrc.json
  .vscode/settings.json
  package-lock.json
  package.json
  src/app/app.module.ts
  src/app/directives/autosize.directive.ts
  src/app/services/cache.service.ts
  src/lib/monzo/Account.ts
  tsconfig.json
  tsconfig.webpack.json
  webpack.config.js
Due: eclint fix, prettier --write --no-semi --single-quote, eslint --fix

enable vendor chunk splitting
  src/app/directives/autosize.directive.ts
  src/lib/monzo/Account.ts
  webpack.config.js
Due: eclint fix, prettier --write --no-semi --single-quote, eslint --fix

add placeholder description for pots
  src/app/actions/balance.ts
  src/lib/monzo/Account.ts
  src/lib/monzo/Transaction.ts
  webpack.config.js
Due: eclint fix, prettier --write --no-semi --single-quote, eslint --fix

batch pending tx updates into one action
  src/app/actions/transaction.ts
  src/lib/monzo/Transaction.ts
Due: eclint fix, prettier --write --no-semi --single-quote

enable prod mode on production build
  package-lock.json
  package.json
  src/app/actions/transaction.ts
  src/app/app.module.ts
  src/app/main.ts
  src/app/store.ts
  src/environments/environment.prod.ts
  src/environments/environment.ts
  tools/package.js
  tsconfig.json
  webpack.config.js
Due: eclint fix, prettier --write --no-semi --single-quote, eslint --fix

package app with electron-builder
  electron-builder.json
  package-lock.json
  package.json
  src/app.ts
  tools/package.js
  tslint.json
  webpack.config.js
Due: eclint fix, prettier --write --no-semi --single-quote, eslint --fix

fix macos app icon in build
  build/icon.icns
  build/icon.ico
  build/icon.png
  electron-builder.json
  package.json
  src/monux.icns
  tools/webpack-helpers.js
  webpack.config.js
Due: eclint fix, prettier --write --no-semi --single-quote, eslint --fix

remove angular cli dependency
  package-lock.json
  package.json
Due: none

extract css on build
  src/app.ts
  src/app/app.component.ts
  src/app/main.ts
  webpack.config.js
Due: eclint fix, prettier --write --no-semi --single-quote, eslint --fix

fix auto-reloader
  src/app.ts
  tsconfig.json
Due: eclint fix, prettier --write --no-semi --single-quote

add super basic search
  src/app.ts
  src/app/components/transaction-list.component.css
  src/app/components/transaction-list.component.html
  src/app/components/transaction-list.component.ts
Due: eclint fix, prettier --write --no-semi --single-quote, prettier --write

fix summary amout alignment
  src/app/components/transaction-group.component.css
  src/app/components/transaction-list.component.css
  src/app/components/transaction-summary.component.css
Due: eclint fix, prettier --write

setup ngrx
  package-lock.json
  package.json
  src/app/actions/balance.ts
  src/app/actions/transaction.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/components/transaction-summary.component.ts
  src/app/reducers/account.ts
  src/app/reducers/activePane.ts
  src/app/reducers/balance.ts
  src/app/reducers/index.ts
  src/app/reducers/selectedTransaction.ts
  src/app/reducers/spent.ts
  src/app/reducers/transactions.ts
  src/app/state.ts
  src/app/store/actions/selectedTransaction.actions.ts
  src/app/store/index.ts
  src/app/store/reducers/selectedTransaction.reducers.ts
  src/app/store/states.ts
  tsconfig.json
  webpack.config.js
Due: eclint fix, prettier --write --no-semi --single-quote, eslint --fix

migrate selectedTransaction
  src/app/app.component.ts
  src/app/components/transaction-summary.component.ts
  src/app/store/index.ts
Due: eclint fix, prettier --write --no-semi --single-quote

update deps
  package-lock.json
  package.json
  src/app.ts
  src/app/app.component.ts
  src/app/components/transaction-summary.component.ts
  src/app/store/reducers/selectedTransaction.reducers.ts
  webpack.config.js
Due: eclint fix, prettier --write --no-semi --single-quote, eslint --fix

improve production build
  package-lock.json
  package.json
  src/@types/devtron/index.d.ts
  src/app.ts
  src/app/store/reducers/selectedTransaction.reducers.ts
  webpack.config.js
Due: eclint fix, prettier --write --no-semi --single-quote, eslint --fix

observable-ify monzo service
  src/app/actions/balance.ts
  src/app/actions/transaction.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/components/transaction-attachment.component.ts
  src/app/components/transaction-detail.component.ts
  src/app/services/monzo.old.service.ts
  src/app/services/monzo.service.ts
Due: eclint fix, prettier --write --no-semi --single-quote

add get balance effect
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/components/amount.component.ts
  src/app/store/actions/balance.actions.ts
  src/app/store/actions/selectedTransaction.actions.ts
  src/app/store/effects/balance.effects.ts
  src/app/store/effects/index.ts
  src/app/store/index.ts
  src/app/store/reducers/balance.reducers.ts
  src/app/store/reducers/selectedTransaction.reducers.ts
  src/app/store/states.ts
  src/lib/monzo/Amount.ts
Due: eclint fix, prettier --write --no-semi --single-quote

convert cache service to observable
  package-lock.json
  package.json
  src/app/actions/balance.ts
  src/app/actions/transaction.ts
  src/app/app.module.ts
  src/app/services/cache.old.service.ts
Due: eclint fix, prettier --write --no-semi --single-quote

add account fetching
  package-lock.json
  package.json
  src/app/actions/account.ts
  src/app/actions/balance.ts
  src/app/actions/pane.ts
  src/app/actions/spent.ts
  src/app/actions/transaction.ts
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/components/account.component.ts
  src/app/components/amount.component.ts
  src/app/middleware.ts
  src/app/reducers/account.ts
  src/app/reducers/activePane.ts
  src/app/reducers/balance.ts
  src/app/reducers/index.ts
  src/app/reducers/selectedTransaction.ts
  src/app/reducers/spent.ts
  src/app/reducers/transactions.ts
  src/app/state.ts
  src/app/store/actions/account.actions.ts
  src/app/store/effects/account.effects.ts
  src/app/store/effects/index.ts
  src/app/store/index.ts
  src/app/store/reducers/account.reducer.ts
  src/app/store/reducers/balance.reducer.ts
  src/app/store/reducers/selectedTransaction.reducer.ts
  src/app/store/states.ts
Due: eclint fix, prettier --write --no-semi --single-quote

add transactions fetching
  package-lock.json
  package.json
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/components/account.component.ts
  src/app/components/amount.component.ts
  src/app/components/transaction-group.component.ts
  src/app/components/transaction-list.component.ts
  src/app/components/transaction-summary.component.ts
  src/app/services/cache.service.ts
  src/app/store/actions/transactions.actions.ts
  src/app/store/effects/index.ts
  src/app/store/effects/transactions.effects.ts
  src/app/store/index.ts
  src/app/store/reducers/transactions.reducer.ts
  src/app/store/states.ts
  src/lib/monzo/Transaction.ts
Due: eclint fix, prettier --write --no-semi --single-quote

restore transaction details view
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/components/transaction-detail.component.ts
  src/app/store/index.ts
  src/app/store/reducers/transactions.reducer.ts
  src/app/store/states.ts
Due: eclint fix, prettier --write --no-semi --single-quote

limit txs to last 1.x months
  src/app/app.component.ts
  src/app/store/actions/transactions.actions.ts
  src/app/store/effects/transactions.effects.ts
  src/app/store/reducers/account.reducer.ts
  src/app/store/reducers/balance.reducer.ts
  src/app/store/reducers/selectedTransaction.reducer.ts
  src/app/store/states.ts
Due: eclint fix, prettier --write --no-semi --single-quote

systemize action suffixes
  src/app/app.module.ts
  src/app/components/transaction-attachment.component.ts
  src/app/components/transaction-detail.component.ts
  src/app/services/cache.old.service.ts
  src/app/services/monzo.old.service.ts
  src/app/store/actions/account.actions.ts
  src/app/store/actions/balance.actions.ts
  src/app/store/actions/index.ts
  src/app/store/actions/selectedTransaction.actions.ts
  src/app/store/actions/transactions.actions.ts
  src/app/store/index.ts
Due: eclint fix, prettier --write --no-semi --single-quote

systemize action prefixes
  src/app/store/actions/account.actions.ts
  src/app/store/actions/balance.actions.ts
  src/app/store/actions/selectedTransaction.actions.ts
  src/app/store/actions/transactions.actions.ts
Due: eclint fix, prettier --write --no-semi --single-quote

propogate selected tx
  src/app/app.component.html
  src/app/app.component.ts
  src/app/components/transaction-detail.component.html
  src/app/components/transaction-group.component.html
  src/app/components/transaction-group.component.ts
  src/app/components/transaction-list.component.html
  src/app/components/transaction-list.component.ts
  src/app/components/transaction-summary.component.ts
  src/app/store/reducers/account.reducer.ts
  src/app/store/reducers/balance.reducer.ts
  src/app/store/reducers/selectedTransaction.reducer.ts
  src/app/store/reducers/transactions.reducer.ts
Due: eclint fix, prettier --write --no-semi --single-quote

disable webkit experimental features
  src/window-manager.ts
Due: eclint fix, prettier --write --no-semi --single-quote

reimplement tx note updating
  src/app/components/transaction-detail.component.html
  src/app/components/transaction-detail.component.ts
  src/app/components/transaction-summary.component.ts
  src/app/store/actions/transactions.actions.ts
  src/app/store/effects/transactions.effects.ts
  src/app/store/reducers/transactions.reducer.ts
  src/lib/monzo/Transaction.ts
Due: eclint fix, prettier --write --no-semi --single-quote

add angular router
  README.md
  package-lock.json
  package.json
  src/app/app-routing.module.ts
  src/app/app.component.html
  src/app/app.module.ts
  src/app/components/app.component.css
  src/app/components/app.component.html
  src/app/components/app.component.ts
  src/app/components/spending-pane.component.ts
  src/app/components/transaction-pane.component.css
  src/app/components/transaction-pane.component.html
  src/app/components/transaction-pane.component.ts
  src/app/store/effects/transactions.effects.ts
  src/lib/monzo/Transaction.ts
Due: eclint fix, prettier --write --no-semi --single-quote, prettier --write

extend router to unfinished map and export panes
  src/app/app-routing.module.ts
  src/app/components/app.component.css
  src/app/components/app.component.html
  src/app/components/export-pane.component.ts
  src/app/components/map-pane.component.ts
  src/app/components/unfinished-pane.component.css
Due: eclint fix, prettier --write --no-semi --single-quote, prettier --write

add logout action
  src/app/services/cache.service.ts
  src/app/store/effects/account.effects.ts
  src/app/store/effects/transactions.effects.ts
Due: eclint fix, prettier --write --no-semi --single-quote

implement app panes as aux routes
  package-lock.json
  package.json
  src/app.ts
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/app.routing.ts
  src/app/components/app.component.html
  src/app/components/app.component.ts
  src/app/components/login.component.ts
  src/app/components/root.component.ts
  src/app/guards/api-access.guard.ts
  src/app/services/cache.service.ts
  src/app/store/effects/account.effects.ts
  src/lib/monzo/auth.ts
  src/window-manager.ts
Due: eclint fix, prettier --write --no-semi --single-quote

add 404 component
  src/app/app.routing.ts
  src/app/components/path-not-found.component.ts
Due: eclint fix, prettier --write --no-semi --single-quote

re-add guards
  package-lock.json
  package.json
  src/app/app.routing.ts
  src/app/components/transaction-pane.component.ts
  src/app/guards/api-access.guard.ts
  src/app/services/cache.service.ts
  src/app/store/effects/account.effects.ts
Due: eclint fix, prettier --write --no-semi --single-quote

check auth with access token in angular
  src/app.ts
  src/app/app.routing.ts
  src/app/components/app.component.ts
  src/app/components/auth-request.component.ts
  src/app/components/login.component.ts
  src/app/components/transaction-pane.component.ts
  src/app/guards/api-access.guard.ts
  src/app/services/monzo.service.ts
  src/lib/keychain.ts
  src/lib/monzo/api.ts
  src/menu-template.ts
  src/window-manager.ts
Due: eclint fix, prettier --write --no-semi --single-quote

allow manual auth code entry
  src/app.ts
  src/app/components/auth-request.component.html
  src/app/components/auth-request.component.ts
  src/app/guards/api-access.guard.ts
  src/lib/monzo/auth.ts
  src/menu-template.ts
  src/window-manager.ts
Due: eclint fix, prettier --write --no-semi --single-quote

ensure component is initialized correctly after auth
  src/app/components/auth-request.component.ts
  src/app/guards/api-access.guard.ts
  src/app/services/monzo.service.ts
  src/window-manager.ts
Due: eclint fix, prettier --write --no-semi --single-quote

conform tag names to m- convention
  src/app/app.module.ts
  src/app/app.routing.ts
  src/app/components/app.component.ts
  src/app/components/auth-request.component.ts
  src/app/components/export-pane.component.ts
  src/app/components/get-client-info.component.html
  src/app/components/get-client-info.component.ts
  src/app/components/map-pane.component.ts
  src/app/components/path-not-found.component.ts
  src/app/components/root.component.ts
  src/app/components/spending-pane.component.ts
  src/app/components/transaction-pane.component.ts
  src/app/guards/client-info.guard.ts
  src/app/index.html
Due: eclint fix, prettier --write --no-semi --single-quote

add get client info component
  src/app/components/auth-request.component.ts
  src/app/components/get-client-info.component.html
  src/app/components/get-client-info.component.ts
Due: eclint fix, prettier --write --no-semi --single-quote

Path conditions:
  eclint fix: ((any of: *.js) or (any of: *.ts)) or (any of: *.css)
  prettier --write --no-semi --single-quote: (any of: *.js) or (any of: *.ts)
  eslint --fix: any of: *.js
  prettier --write: any of: *.css
