Repository robjtede/monux: changes, and which lint-staged commands are due for each by the changed paths.
All: eclint fix, prettier --write --no-semi --single-quote, eslint --fix, prettier --write

.lintstagedrc.json:

{
  "!*.{js,ts,css}": [
    "eclint fix",
    "git add"
  ],
  "*.js": [
    "eclint fix",
    "prettier --write --no-semi --single-quote",
    "eslint --fix",
    "git add"
  ],
  "*.ts": [
    "eclint fix",
    "prettier --write --no-semi --single-quote",
    "git add"
  ],
  "*.css": [
    "eclint fix",
    "prettier --write",
    "git add"
  ]
}

verify access token on load
  src/app.ts
  src/app/guards/api-access.guard.ts
  src/app/guards/client-info.guard.ts
  src/app/services/monzo.service.ts
  src/window-manager.ts
Due: eclint fix, prettier --write --no-semi --single-quote

attempt to refresh access token when it has expired or is missing
  src/app/guards/api-access.guard.ts
  src/app/services/monzo.service.ts
  src/app/store/effects/account.effects.ts
  src/app/store/effects/balance.effects.ts
  src/app/store/effects/transactions.effects.ts
  src/lib/keychain.ts
  src/lib/monzo/api.ts
Due: eclint fix, prettier --write --no-semi --single-quote

remove early getaccounts http call
  src/app/guards/api-access.guard.ts
  src/app/store/effects/transactions.effects.ts
Due: eclint fix, prettier --write --no-semi --single-quote

run init effects on app component load
  src/app/components/app.component.ts
  src/app/guards/api-access.guard.ts
  src/app/services/monzo.service.ts
  src/app/store/effects/account.effects.ts
  src/app/store/effects/balance.effects.ts
  src/app/store/effects/transactions.effects.ts
  src/lib/monzo/api.ts
  src/lib/monzo/auth.ts
Due: eclint fix, prettier --write --no-semi --single-quote

remove all uses of rxjs pluck
  src/app/components/get-client-info.component.ts
  src/app/guards/api-access.guard.ts
  src/app/services/cache.service.ts
  src/app/services/monzo.service.ts
  src/app/store/effects/account.effects.ts
  src/app/store/effects/balance.effects.ts
Due: eclint fix, prettier --write --no-semi --single-quote

add ngrx router module
  package-lock.json
  package.json
  src/app/app.module.ts
  src/app/store/index.ts
Due: eclint fix, prettier --write --no-semi --single-quote

encode +'s correctly in notes
  src/app/store/effects/transactions.effects.ts
  src/lib/monzo/Transaction.ts
Due: eclint fix, prettier --write --no-semi --single-quote

restore attachment upload/delete
  src/app/components/transaction-attachment.component.ts
  src/app/components/transaction-detail.component.ts
Due: eclint fix, prettier --write --no-semi --single-quote

improve attachment uploader styling
  src/app/components/transaction-detail.component.css
  src/app/components/transaction-detail.component.html
Due: eclint fix, prettier --write

update to electron 3 beta
  package-lock.json
  package.json
Due: none

improve attachment upload interface
  src/app/components/transaction-detail.component.css
  src/app/components/transaction-detail.component.html
  src/app/components/transaction-detail.component.ts
  src/app/store/effects/transactions.effects.ts
  src/app/store/index.ts
  src/lib/monzo/Transaction.ts
Due: eclint fix, prettier --write --no-semi --single-quote, prettier --write

implement attachment upload as effect
  src/app/components/transaction-detail.component.ts
  src/app/store/actions/transactions.actions.ts
  src/app/store/effects/transactions.effects.ts
  src/lib/monzo/Attachment.ts
Due: eclint fix, prettier --write --no-semi --single-quote

implement deregister attachment as effect
  package-lock.json
  package.json
  src/app/components/transaction-attachment.component.css
  src/app/components/transaction-attachment.component.html
  src/app/components/transaction-attachment.component.ts
  src/app/components/transaction-detail.component.css
  src/app/components/transaction-detail.component.html
  src/app/components/transaction-detail.component.ts
  src/app/store/actions/attachment.actions.ts
  src/app/store/actions/transactions.actions.ts
  src/app/store/effects/attachment.effects.ts
  src/app/store/effects/index.ts
  src/app/store/effects/transactions.effects.ts
  src/app/store/index.ts
  src/lib/monzo/Attachment.ts
  src/lib/monzo/Transaction.ts
Due: eclint fix, prettier --write --no-semi --single-quote, prettier --write

add group collapsing
  src/app/components/transaction-attachment.component.ts
  src/app/components/transaction-detail.component.ts
  src/app/components/transaction-group.component.css
  src/app/components/transaction-group.component.html
  src/app/components/transaction-group.component.ts
  src/app/components/transaction-summary.component.ts
  src/app/directives/autosize.directive.ts
Due: eclint fix, prettier --write --no-semi --single-quote, prettier --write

fix first group collapse event
  src/app/components/transaction-group.component.ts
Due: eclint fix, prettier --write --no-semi --single-quote

code cleanup
  README.md
  src/app.ts
  src/app/app.module.ts
  src/app/components/spending-pane.component.ts
  src/app/components/transaction-detail.component.html
  src/app/components/transaction-detail.component.ts
  src/app/components/transaction-summary.component.ts
  src/app/guards/api-access.guard.ts
  src/app/guards/client-info.guard.ts
  src/app/store/actions/selectedTransaction.actions.ts
  src/app/store/effects/account.effects.ts
  src/app/store/effects/attachment.effects.ts
  src/app/store/effects/balance.effects.ts
  src/app/store/effects/transactions.effects.ts
  src/app/store/reducers/transactions.reducer.ts
  src/menu-template.ts
  src/window-manager.ts
Due: eclint fix, prettier --write --no-semi --single-quote

improve get client info styles
  src/app/components/get-client-info.component.css
  src/app/components/get-client-info.component.html
  src/app/components/get-client-info.component.ts
Due: eclint fix, prettier --write --no-semi --single-quote, prettier --write

improve auth request styling
  src/app/components/auth-request.component.css
  src/app/components/auth-request.component.html
  src/app/components/auth-request.component.ts
Due: eclint fix, prettier --write --no-semi --single-quote, prettier --write

downgrade electron
  package-lock.json
  package.json
  src/app/app.module.ts
  src/app/components/spending-pane.component.ts
  src/app/components/transaction-detail.component.ts
  src/app/components/transaction-group.component.css
  src/app/store/effects/transactions.effects.ts
Due: eclint fix, prettier --write --no-semi --single-quote, prettier --write

rename gap to grid-gap
  src/app/components/auth-request.component.css
  src/app/components/transaction-group.component.css
  src/app/components/transaction-group.component.ts
Due: eclint fix, prettier --write --no-semi --single-quote, prettier --write

re-add basic spending pane
  src/app/app.module.ts
  src/app/components/spending-pane.component.ts
  src/app/index.html
  src/app/main.ts
  src/lib/monzo/Transaction.ts
  src/lib/monzo/helpers.ts
Due: eclint fix, prettier --write --no-semi --single-quote

fix layout issues
  src/app/components/app.component.css
  src/app/components/export-pane.component.ts
  src/app/components/map-pane.component.ts
  src/app/components/spending-pane.component.ts
  src/app/components/transaction-pane.component.css
  src/app/components/transaction-pane.component.ts
  src/app/style/index.css
Due: eclint fix, prettier --write --no-semi --single-quote, prettier --write

add drag regions to auth pages
  src/app/components/auth-request.component.css
  src/app/components/get-client-info.component.css
Due: eclint fix, prettier --write

make auth pages scrollable
  src/app/components/auth-request.component.css
  src/app/components/get-client-info.component.css
Due: eclint fix, prettier --write

add option to go back if client info was incorrect
  src/app/components/auth-request.component.css
  src/app/components/auth-request.component.html
  src/app/components/auth-request.component.ts
Due: eclint fix, prettier --write --no-semi --single-quote, prettier --write

add privacy note to auth request page
  src/app/components/auth-request.component.css
  src/app/components/auth-request.component.html
Due: eclint fix, prettier --write

fix inconsistent chart sizing
  src/app/components/spending-pane.component.css
  src/app/components/spending-pane.component.html
  src/app/components/spending-pane.component.ts
Due: eclint fix, prettier --write --no-semi --single-quote, prettier --write

add peer deps
  build/icon.icns
  package-lock.json
  package.json
Due: none

connect logout button
  src/app/components/app.component.html
  src/app/components/app.component.ts
  src/app/store/actions/account.actions.ts
  src/app/store/effects/account.effects.ts
  src/app/store/effects/transactions.effects.ts
Due: eclint fix, prettier --write --no-semi --single-quote

update changelog
  CHANGELOG.md
Due: none

fix unscrollable tx pane
  src/app/components/spending-pane.component.css
  src/app/components/transaction-pane.component.css
  src/app/components/transaction-pane.component.html
Due: eclint fix, prettier --write

fix date-fns new format syntax
  package.json
  src/app/components/transaction-detail.component.ts
  src/lib/monzo/Transaction.ts
  src/lib/monzo/helpers.ts
Due: eclint fix, prettier --write --no-semi --single-quote

update changelog and readme
  CHANGELOG.md
  README.md
  src/app/main.ts
  src/app/store/effects/account.effects.ts
Due: eclint fix, prettier --write --no-semi --single-quote

prepare release 0.10.0
  package-lock.json
  package.json
Due: none

update readme
  README.md
Due: none

updated lintstaged to not butcher the app icon
  .lintstagedrc.json
  build/icon.icns
Due: none

add account/balance saving
  src/app/components/app.component.ts
  src/app/services/cache.service.ts
  src/app/store/effects/account.effects.ts
  src/app/store/effects/balance.effects.ts
  src/app/store/effects/transactions.effects.ts
Due: eclint fix, prettier --write --no-semi --single-quote

add transaction saving
  src/app/services/cache.service.ts
  src/app/store/effects/balance.effects.ts
  src/app/store/effects/transactions.effects.ts
Due: eclint fix, prettier --write --no-semi --single-quote
